{% extends "base.html" %}
{% block title %}Change Password - FitTrack{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">

<div class="auth">
  <h2>Change Password</h2>

  {% if form.errors %}
    <ul class="form-errors">
      {% for field, errors in form.errors.items() %}
        {% for error in errors %}
          <li><strong>{{ field }}:</strong> {{ error }}</li>
        {% endfor %}
      {% endfor %}
    </ul>
  {% endif %}

  <form method="POST" action="{{ url_for('profile_bp.change_password') }}">
    {{ form.hidden_tag() }}

    <label for="current_password">Current Password:</label>
    {{ form.current_password }}

    <label for="new_password">New Password:</label>
    {{ form.new_password }}

    <label for="confirm_new_password">Confirm New Password:</label>
    {{ form.confirm_new_password }}

    {{ form.submit(class_="form-button") }}

  </form>
</div>
{% endblock %}
