<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FitTrack</title>
    <link rel="stylesheet" href="/static/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet" />
    
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/main.min.css' rel='stylesheet' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
  </head>
  <body>

    <!-- Top navigation bar -->
    <nav class="navbar">
      <div class="navbar__container">
        <a href="/" id="navbar__logo"><i class="fa-solid fa-weight-scale"></i>&nbsp;FitTrack</a>
        <div class="navbar__toggle" id="mobile-menu">
          <span class="bar"></span> <span class="bar"></span> <span class="bar"></span>
        </div>
        <ul class="navbar__menu">
          <li class="navbar__item">
            <a href="/" class="navbar__links">Home</a>
          </li>
          <li class="navbar__item">
            <a href="/" class="navbar__links">...</a>
          </li>
          <li class="navbar__item">
            <a href="/" class="navbar__links">...</a>
          </li>
          <li class="navbar__item">
            <button id="back-button" class="navbar__links" style="border: none; background: none; font: inherit; cursor: pointer;">
              ← Back
            </button>
          </li>

          {% if session.get('user') %}
          <li class="navbar__item">
            <a href="#" id="nav-friends" class="navbar__links">Friends</a>
          </li>
          <li class="navbar__user">
            <span id="navbar-username" class="navbar__links" onclick="loadPage('profile')" style="cursor: pointer;">{{ session['user'] }}</span>
          </li>          
          <li class="navbar__btn">
            <a href="/logout" class="button">Log Out</a>
          </li>
          {% else %}
          <li class="navbar__btn">
            <a href="#" class="button" onclick="loadPage('signin')">Sign In</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <!-- loading container -->
    <div id="app"></div>

    <!-- js -->
    <script src="/static/js/navigation.js"></script>
  </body>
</html>
