{% extends "base.html" %}
{% block title %}Services - FitTrack{% endblock %}

{% block content %}
<div class="services">
  <h1>Start today's management!</h1>
  <div class="services__container">
    <!-- Record Card -->
    <div class="services__card">
      <img src="/static/images/weight.png" alt="weight icon" class="services__img" />
      <h2>Record the weight</h2>
      <p>Keep the habit!</p>
      <button id="btn-record" type="button">Start record</button>
    </div>

    <!-- Report Card -->
    <div class="services__card">
      <img src="/static/images/report.png" alt="report icon" class="services__img" />
      <h2>Check the report</h2>
      <p>See your progress!</p>
      <button id="btn-report" type="button">Check Report</button>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    document.getElementById("btn-record").addEventListener("click", () => {
      window.location.href = "/upload";
    });

    document.getElementById("btn-report").addEventListener("click", () => {
      window.location.href = "/visualise";
    });
  });
</script>
{% endblock %}
